
.vs/KTIRobot/FileContentIndex/

bin/Debug/

obj/Debug/

KTIRobot.7z

KTIRobot.txz

.vs/KTIRobot/DesignTimeBuild/.dtbcache.v2

.vs/KTIRobot/v17/.futdcache.v1

.vs/KTIRobot/v17/.suo

.vs/ProjectEvaluation/ktirobot.metadata.v2

.vs/ProjectEvaluation/ktirobot.projects.v2
